

.outer{
  position: relative;
  width:900px;
  height: 200px;
  border:2px solid black;
  background-color: rgb(241, 238, 238);
}

.textSec
{
  width:700px;
  height:200px ;
 position: absolute; 
 padding: 10px; 
  
}
.imgSec {
  padding: 15px; 
 position: absolute;
 left:705px;

}
.imgSec img{
  max-width: 170px;
  max-height: 170px;

}


  

   